<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jlkg.jzg.jzg_android">

    <permission
        android:name="com.jlkg.jzg.jzg_android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.jlkg.jzg.jzg_android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //获取设备网络状态，禁用后无法获取网络状态
    <uses-permission android:name="android.permission.INTERNET" />
    //网络权限，当禁用后，无法进行检索等相关业务
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //获取设备的网络状态，鉴权所需网络代理
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.GET_TASKS" />
    //鉴权所需该权限获取进程列表
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z4w56ozl9O8MQelSi0HlHP9qFlQXb6IX" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".other.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".other.ForgetPwdActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.SetPwdActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.RegistActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.XieyiActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.activity.BindPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.IdentityConfimActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.activity.CompanyInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".other.activity.TeamInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".other.activity.SetupWizardActivity" />
        <activity
            android:name=".other.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.activity.SelectRoleActivity"
            android:label="@string/title_activity_select_role"
            android:theme="@style/AppTheme" />
        <activity android:name=".home.activitys.CompanyListActivity" />
        <activity android:name=".home.activitys.CompanyDetailActivity" />
        <activity
            android:name=".home.activitys.CompanySearchActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".personal.activity.MineInfoActivity" />
        <activity android:name=".personal.activity.ApproveActivity" />
        <activity android:name=".personal.activity.MineCompanyInfoActivity" />
        <activity android:name=".personal.activity.MywalletActivity" />
        <activity android:name=".home.activitys.ClassActivity" />
        <activity android:name=".personal.activity.TradingRecordActivity" />
        <activity android:name=".personal.activity.BalanceActivity" />
        <activity android:name=".personal.activity.BindCardActivity" />
        <activity android:name=".personal.activity.OrganizationActivity" />
        <activity android:name=".personal.activity.DispatchActivity" />
        <activity
            android:name=".home.activitys.TeamListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".home.activitys.InstructionActivity" />
        <activity android:name=".home.activitys.TeamDetailActivity" />
        <activity android:name=".home.activitys.OldProjectActivity" />
        <activity android:name=".home.activitys.JixieDetailActivity" />
        <activity android:name=".home.activitys.MallActivity" />
        <activity android:name=".home.activitys.MallHomeActivity" />
        <activity android:name=".personal.activity.SelectPersonnelActivity" />
        <activity android:name=".personal.activity.PayoffDetailsActivity" />
        <activity
            android:name=".personal.activity.AddProjectActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personal.activity.ProjectDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".home.activitys.MallProductDetailActivity" />
        <activity android:name=".home.activitys.MessageActivity" />
        <activity android:name=".home.activitys.MessageDetailActivity" />
        <activity android:name=".job.activitys.JobDetailActivity" />
        <activity android:name=".personal.activity.LabourServiceActivity" />
        <activity android:name=".personal.activity.AddLabourActivity" />
        <activity android:name=".personal.activity.TeamActivity" />
        <activity android:name=".personal.activity.RecruitWorkersActivity" />
        <activity android:name=".personal.activity.LetMachineActivity" />
        <activity android:name=".personal.activity.ProjectApplicationActivity" />
        <activity
            android:name=".personal.activity.ApplyForPaymentActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".personal.activity.SelectCardActivity" />
        <activity android:name=".personal.activity.AddMemberActivity" />
        <activity android:name=".personal.activity.ChangeRoleActivity" />
        <activity android:name=".personal.activity.SettingActivity" />
        <activity android:name=".personal.activity.classactivity.ClassMineInfoActivity" />
        <activity android:name=".personal.activity.ChangePasswordActivity" />
        <activity android:name=".personal.activity.FeedbackActivity" />
        <activity android:name=".personal.activity.AboutUsActivity" />
        <activity android:name=".personal.activity.classactivity.ClassMemberActivity" />
        <activity android:name=".personal.activity.classactivity.ClassHistoryMemberActivity" />
        <activity android:name=".release.activitys.ReleaseWorkerActivity" />
        <activity android:name=".release.activitys.ReleaseLeaseActivity" />
        <activity android:name=".release.activitys.InputPhoneNumActivity" />
        <activity
            android:name=".release.activitys.SelectAddressActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".release.activitys.NeedActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".release.activitys.SelectTypeActivity" />
        <activity android:name=".contract.activitys.ContractDetailActivity" />
        <activity android:name=".personal.activity.classactivity.ClassJobDetailActivity" />
        <activity android:name=".personal.activity.classactivity.ClassBeforeObjectActivity" />
        <activity android:name=".personal.activity.classactivity.ClassChangeRoleActivity" />
        <activity
            android:name=".job.activitys.SearchJobActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <service android:name=".other.utils.ApplicationUpdateService" />

        <activity android:name=".contract.activitys.EditContractActivity" />
        <activity android:name=".personal.activity.AgainReleaseProjectActivity" />
        <activity android:name=".contract.activitys.OrderDetailActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".personal.activity.AgainReleaseLetActivity" />
        <activity android:name=".contract.activitys.WebActivity" />
        <activity android:name=".personal.activity.classactivity.EvaluateListActivity" />
        <activity android:name=".personal.activity.classactivity.AddBeforeObjectActivity" />

        <receiver
            android:name=".other.utils.MyMessageReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.jlkg.jzg.jzg_android" />
            </intent-filter>
        </receiver>

        <activity android:name=".personal.activity.classactivity.BeforeObjectActivity" />
        <activity android:name=".contract.activitys.ContractEvaluateActivity"></activity>
    </application>

</manifest>